<section class="coupons coupons--all clearfix">
	<h1>All Coupons</h1>
	<div>
		
		<% @coupons.each do |coupon| %>	
			<article class="coupon">
				<figure>
					<a href="/coupons/<%= coupon.id %>" rel="bookmark">
					<div class="coupon__image">
						<div class="coupon__discount"><%= coupon.discount.to_i %>% off</div>
						
							<img src="<%= coupon.img_url %>" alt="<%= coupon.title %>" />
						
						<p class="coupon__expiration">Expires <%= coupon.expiration_date %></p>
					</div>
					</a>
					<figcaption class="clearfix">
						<h2 class="coupon__title"><a href="/coupons/<%= coupon.id %>"><%= coupon.title %></a></h2>
						<h3 class="coupon__vendor"><%= coupon.vendor %></h3>
						<div class="coupon__description"><%= coupon.description %></div>
						<div class="coupon__controls">
							<a class="button" href="/coupons/edit/<%= coupon.id %>">Edit</a>
							<a class="button" href="/coupons/delete/<%= coupon.id %>">Delete</a>	
						</div>
					</figcaption>
				</figure>
			</article>
		<% end %>	

		

	</div>	
	<a class="button--primary" href="/coupons/new">Add a coupon</a>
</section>
